body{margin: 0}
.top{
  padding:40px ;
  padding-top: 30px;
  background-color:#f4f6ff;}

.firstsym{color:blue;font-size:25px}
.firsth2{color:#342b38;font-family: 'Noto Sans JP', sans-serif;font-size:25px;font-weight: bold;}
h2{display:inline;}
.spanone{text-decoration: underline wavy red;}
.first{float:right;color:black;font-family: Barlow, sans-serif;font-style: italic;font-weight:700;margin-right: 20px;margin-top: 5px;}
.first:link{text-decoration: none;}
.first:hover{border-bottom: 1px solid red}
.second{float:right;color:black;font-family: Barlow, sans-serif;font-style: italic;font-weight:700;padding-top: 5px;margin-right: 30px}
.second:link{text-decoration: none;}
.second:hover{border-bottom: 1px solid red}
.third{float:right;color:black;font-family: Barlow, sans-serif;font-style: italic;font-weight:700;padding-top: 5px;margin-right:30px}
.third:link{text-decoration: none;}
.third:hover{border-bottom: 1px solid red}
.fourth{float:right;color:black;font-family: Barlow, sans-serif;font-style: italic;font-weight:700;padding-top: 5px;margin-right:30px}
.fourth:link{text-decoration: none;}
.fourth:hover{border-bottom: 1px solid red}
.myButton {
  float: right;
	background-color:#000000;
	border-radius:31px;
	border:2px solid #566963;
/*	display:inline-block;*/
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:15px 30px;
	text-decoration:none;
	text-shadow:0 1px 4px #2b665e;
  margin-top: -10px;
}
.myButton:hover {
	background-color:#768d87;
}
.myButton:active {
	position:relative;
	top:1px;
}
hr
{
height:0.1;
margin: 0;
padding: 0;
width: auto;
background-color :#3797a4;
}
.middle{background-color:#f4f6ff;
margin-top: 0;
}
.secimage{
  float: right;
  width:40%;
  height:50%;
    margin-top: 10px;
margin-left:50px;
margin-right: 40px;
}
h1
{
margin:0 50px 20px 40px;
  font-size: 60px;
  color: rgb(62, 84, 163);
font-family: 'Roboto', sans-serif;
line-height: 5rem;
}
.spantwo
{

text-decoration: red wavy underline  ;
}
.sechead{margin:20px 50px 20px 40px;
  font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-size: 20px;
}
.two{background-color: rgb(62, 84, 163) ;text-align: center;margin-right:30px;margin-left:30px;padding-bottom: 40px;}
h4{font-family: 'PT Sans', sans-serif;color: white;line-height: 4rem;font-size: 30px;}
.animat{width:15%;padding-top: 20px;}
.hthree{font-family: 'PT Sans', sans-serif;color: white;line-height: 5rem;font-size:30px; font-weight: normal;}
.slack-email{height:30px;width:240px;}
.myButtontwo {
  position: absolute;
	box-shadow:inset 50px 25px 0px 0px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:29px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:italic;
	padding:10px 40px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;
}
.myButtontwo:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.myButtontwo:active {
	position:relative;
	top:1px;
}
